/* @font-face {
  font-family: 'MonumentExtended-UltraBold';
  src: url('/fonts/MonumentExtended-Ultrabold.otf');
} */

@font-face {
  font-family: 'SuisseIntl-Medium';
  src: url('/fonts/SuisseIntl-Medium.ttf');
}

:root {
  --font-fallback: sans-serif;
  --suisse-medium: 'SuisseIntl-Medium', var(--font-fallback);
}

.suisse-500 {
  font-family: var(--suisse-medium);
}

.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 18px;
}

.text-lg {
  font-size: 20px;
}

.text-xl {
  font-size: 24px;
}