/* 
  mix-blend-mode: difference; doesn’t work well on <a> tags because 
  links often inherit background colors from the page or have their 
  own styles that override the effect. 
  
  below is the fix and workaround
*/
a {
  position: relative;
  z-index: 2;
  background-color: transparent;
  cursor: pointer;
}

#cursor {
  --x: 0;
  --y: 0;
  --blend: difference;
  display: none;
  position: fixed;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: transform 0.2s ease-out;
  transform: translate3d(var(--x, 0), var(--y, 0), 0) scale(1);
  z-index: 105;
}

#cursor.cursor-size-2 { transform: translate3d(var(--x, 0), var(--y, 0), 0) scale(2); }
#cursor.cursor-size-3 { transform: translate3d(var(--x, 0), var(--y, 0), 0) scale(3); }
#cursor.cursor-size-4 { transform: translate3d(var(--x, 0), var(--y, 0), 0) scale(4); }
#cursor.cursor-size-5 { transform: translate3d(var(--x, 0), var(--y, 0), 0) scale(5); }
#cursor.cursor-size-6 { transform: translate3d(var(--x, 0), var(--y, 0), 0) scale(6); }
#cursor.cursor-size-7 { transform: translate3d(var(--x, 0), var(--y, 0), 0) scale(7); }
#cursor.cursor-size-8 { transform: translate3d(var(--x, 0), var(--y, 0), 0) scale(8); }
#cursor.cursor-size-9 { transform: translate3d(var(--x, 0), var(--y, 0), 0) scale(9); }
#cursor.cursor-size-10 { transform: translate3d(var(--x, 0), var(--y, 0), 0) scale(10); }

#cursor.cursor-size-max-enter { 
  mix-blend-mode: unset;
  background: var(--clr-dark);
  z-index: 105;
  transition: all 600ms ease;
  transform: translate3d(var(--x, 0), var(--y, 0), 0) scale(200); 
}

#cursor.cursor-size-max-exit {
  mix-blend-mode: difference;
  background: rgba(255, 255, 255, 0.8);
  z-index: 110;
  transition: all 200ms ease;
  transform: translate3d(var(--x, 0), var(--y, 0), 0) scale(1); 
}

@supports not (mix-blend-mode: difference) {
  #cursor {
    mix-blend-mode: exclusion; /* Fallback */
  }
}

@media screen and (min-width: 768px) {
  #cursor {
    display: block;
  }
}