[data-dot] {
  --scale: 0%;
  clip-path: circle(var(--scale) at 50% 50%);
  background: #000000;
  height: 100%;
  width: 100%;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  transition: clip-path 125ms ease;
  pointer-events: none;
  cursor: default;
}