/*
  All default states should be added inline within the <head> tag.
  This ensures that the loader appears first, preventing elements beneath it from rendering prematurely.

  While default states that are less critical should be added here.

  Of course, do not forget to initialize the needed html tags for these elements.
*/

/*
  ==================================================
  ================= DEFAULT STATES =================
  ==================================================
  [data-preloader] {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    overflow: hidden;
    z-index: 999;
  }

  [data-preloader-circle] {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: black;
    clip-path: circle(100% at 50% 50%);
  }

  [data-preloader-rect] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #000000;
    clip-path: polygon(
      50% 0%,    Top center
      100% 0%,   Top-right
      100% 50%,  Mid-right
      100% 100%, Bottom-right
      50% 100%,  Bottom center
      0% 100%,   Bottom-left
      0% 50%,    Mid-left
      0% 0%      Top-left
    );
  }
  ==================================================
  ================= DEFAULT STATES =================
  ==================================================
*/

[data-preloader] {
  --circle-speed: 450ms;
  --rect-speed  : 450ms;
  --svg-speed   : 1200ms;
}

[data-preloader-svg] {
  --top   : 64px;
  --x     : 16px;
  --scale : 1;
  --width : 1000%;

  position: absolute;
  top: 50%;
  left: 50%;

  width: var(--width);
  transform: translate(-50%, -50%);
}

/* Transitions */
/* [data-preloader-circle] { transition: clip-path var(--circle-speed) cubic-bezier(0.39, 0.575, 0.565, 1); }
[data-preloader-rect] { transition: height var(--rect-speed) cubic-bezier(0.165, 0.84, 0.44, 1)} */
[data-preloader-svg] { transition: all var(--svg-speed) cubic-bezier(0.165, 0.84, 0.44, 1) 165ms; }

/* Animation Activation */
[data-preloader="false"] [data-preloader-circle] {
  clip-path: circle(0% at 50% 50%);
}


[data-preloader-svg="true"] {
  top: var(--top);
  width: calc(100% - (var(--x) * 2));
  transform: translate(-50%, 0%);
}

/* Media queries */
@media screen and (min-width: 1024px) {
  [data-preloader-svg] {
    --top: 124px;
    --x: 36px;
  }
}